/data_generator/image_data/images_basic/src/__pycache__
/data_generator/image_data/images_basic/src/.idea
/data_generator/image_data/images_robotics/src/.idea
/data_generator/image_data/images_robotics/src/__pycache__
